/* Home calendar — page-specific only */

.home-calandar-text-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.home-calandar-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
