/* Resources section — page-specific only (shared styles in global.css) */

.banner-heading {
  display: flex;
  flex-flow: column;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f177c-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f17d0-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f17dd-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f17f1-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f17fe-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f180b-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f1818-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f1825-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f183a-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f1847-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f1854-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f1861-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f186e-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f1882-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f188f-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f189c-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f18a9-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f18b6-2c35799a,
#w-node-ca28d0b6-8c23-f9ea-3e32-2e22396f18c3-2c35799a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
