/* FAQs — page-specific only */

.faq-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.faq-item {
  padding: 2rem;
  background-color: var(--color-surface-blue);
  border-radius: 1.5rem;
  transition: all 0.4s;
}

.faq-item.open {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.faq-item.open .button.icon {
  transform: rotate(45deg);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  height: 0;
  overflow: hidden;
  transition: height 600ms ease;
}

.faq-answer-padding {
  padding-top: 2rem;
}
