/* Training section — page-specific only */

.card.is-training-strat {
  justify-content: space-between;
  align-items: flex-start;
  background-color: #a7dbb5;
  border-style: none;
}

.card.is-training-impact {
  background-color: var(--color-surface-blue);
  border-style: none;
}

.training-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 20rem;
  margin-bottom: 1.5rem;
}

.training-tag-wrapper {
  position: absolute;
  inset: 0% auto auto 0%;
}

.code-embed {
  position: absolute;
}

#w-node-_511e9ed2-4c31-0d1e-f82d-36aa9b1375cd-9439c140 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
