/* =========================================================
   CARD GRID SECTION
========================================================= */

.container {
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-inner {
    position: relative;
    padding: 3rem;
  }
  
  .card-3grid {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }
  
  
  /* =========================================================
     CARDS
  ========================================================= */
  
  .card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    color: #202124;
    text-align: left;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 3rem;
  }
  
  .card.is-blue {
    background-color: #e7f0fe;
    border-style: none;
  }
  
  .card-text-wrapper {
    display: flex;
    flex-flow: column;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  .card-text-wrapper.no-top-margin {
    margin-top: 0;
  }
  
  .card-text-wrapper.no-top-margin.no-bottom-margin {
    margin-bottom: 0;
  }
  
  
  /* =========================================================
     DECORATIVE SHAPES / ARROWS
  ========================================================= */
  
  .conatiner-shape-top-right {
    position: absolute;
    z-index: 1;
    inset: 0% 0% auto auto;
    display: flex;
    width: 128px;
    height: 129px;
  }
  
  .conatiner-shape-bottom-left {
    position: absolute;
    z-index: 1;
    inset: auto auto 0% 0%;
    display: flex;
    width: 128px;
    height: 129px;
  }
  
  .conatiner-arrow-top-left {
    position: absolute;
    z-index: 1;
    inset: 0% auto auto 0%;
    display: flex;
    width: 48px;
    height: 48px;
  }
  
  .conatiner-arrow-top-right {
    position: absolute;
    z-index: 1;
    inset: 0% 0% auto auto;
    display: flex;
    width: 48px;
    height: 48px;
  }
  
  .conatiner-arrow-bottom-right {
    position: absolute;
    z-index: 1;
    inset: auto 0% 0% auto;
    display: flex;
    width: 48px;
    height: 48px;
  }
  
  .conatiner-arrow-bottom-left {
    position: absolute;
    z-index: 1;
    inset: auto auto 0% 0%;
    display: flex;
    width: 48px;
    height: 48px;
  }
  
  
  /* =========================================================
     RESPONSIVE
  ========================================================= */
  
  @media screen and (max-width: 767px) {
    .container-inner {
      padding: 2rem 1.5rem;
    }
  
    .card-3grid {
      grid-template-columns: 1fr;
    }
  }